*{
   box-sizing: border-box;
   margin: 0; 
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


main {
    height: 100vh;
    display: flex;
    
    background-color: black;
}

#icon-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* svg{
    display: flex;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: gray;
    
} */

#svg-container{
   
    
}

.rating-circle:hover{
    background-color: orange;
}



h1{
    padding: 10px 0 10px 0;
}

#rating-container {
    
    margin: auto;
    
    border-radius: 3%;
    width: 40vw;
    padding: 25px;
    background-color: rgb(105, 105, 105);
}

#title {
    
 
}

.text{
    margin: 10px 0 10px 0;
}

#rating-numbers {
    
    display: flex;
    justify-content: space-around;
    
}

.rating-circle {
    margin: 10px 0 10px 0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;


}

span {
    text-align: center;
    

}

#submit {
    margin-top: 10px;
    border: 1px solid black;
    display: block;
    width: 100%;
    

}

button{
    background-color: orange;
}

button:hover{
    background-color: white;
    color: orange;
}