*{
   box-sizing: border-box;
   margin: 0; 
   font-family: 'Overpass', sans-serif;
   font-weight: 400;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


main {
    height: 100vh;
    display: flex;
    background-color: black;
}

#rating-container {
    margin: auto;
    border-radius: 20px;
    width: 40vw;
    min-width: 300px;
    max-width: 350px;
    padding: 25px;
    background-color: hsl(216, 12%, 8%);
}


#icon-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.rating-circle:hover{
    background-color: hsl(25, 97%, 53%);
    
}

h1{
    padding: 10px 0 10px 0;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}

.text{
    margin: 10px 0 10px 0;
    font-size: 15px;
    color: hsl(217, 12%, 63%);
}

#rating-numbers {
    display: flex;
    justify-content: space-around;
    
}

.rating-circle {
    margin: 10px 0 10px 0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: hsl(213, 19%, 18%);
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    text-align: center;
    color: hsl(217, 12%, 63%);
}

#submit {
    margin-top: 10px;
    border: 1px solid black;
    display: block;
    width: 100%;
}

button{
    font-weight: bold;
    background-color: hsl(25, 97%, 53%);
    height: 40px;
    border-radius: 20px;
}

button:hover{
    background-color: white;
    color: hsl(25, 97%, 53%);
}

#thank-you{
    height: 100vh;
    display: flex;
    color: black;
    background-color: black;
}

a{
    text-decoration: none;
}

#thank-you-container{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    width: 40vw;
    min-width: 300px;
    max-width: 350px;
    padding: 25px;
    background-color: hsl(216, 12%, 8%);
}

#you-selected{
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 10px 20px 10px 20px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 20px;
    color: hsl(25, 97%, 53%);
    font-weight: bold;
}

#thank-you-img{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#thank-you-container > .text{
    text-align: center;
    margin-bottom: 20px;
}

